
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../libs/bootstrap-5.2.3/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="../css/room.css">
    <link rel="stylesheet" href="../libs/primeicons/primeicons.css">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">

    <title>Room</title>

    <title>Document</title>
</head>
<body>
    <div class="content">
        <h1 id="room-id"></h1>

        <div class="row" id="video-grid">

        </div>

        <!-- <div id="my-self-stream">
            <div>
                <button class="btn btn-danger m-2" id="my-sound">Micro off</button>
            </div>
        </div> -->

        <div class="footer">&copy; 2020 - 26460 | José Eduardo Chico#CJ Programmer</div>
    </div>
</body>
</html>

<script src="../libs/jquery-3.6.1/jquery-3.6.1.min.js" defer></script>
<script src="../libs/socket.io.js" defer></script>
<script src="../libs/peerjs.min.js" defer></script>

<script src="../js/config.socket.js" defer></script>
<script src="../js/room-colabarative.js" defer></script>
